@font-face {
  font-family: 'BAUHS93';
  src: url('../public/BAUHS93.eot');
  src: local('BAUHS93'), url('../public/BAUHS93.woff') format('woff'), url('../public/BAUHS93.ttf') format('truetype');
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

:root {
  --red: #EE442B;
  --yellow: #F8B61A;
  --blue: #0168B5;
  --black: #000;
  --bgd: #EEDFCC;
  --brown: #DACBB8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bgd);
  overflow: hidden;
  font-size: min(min(16px, 2vh), 3.5vw);
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--bgd);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  /* Remove ul's default dot */
  list-style: none;
}

.logo {
  display: flex;
  height: 6.25em;
  margin: 0;
  padding: 0;

}

.logo>div {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin-right: 1.125em;
}

.logo>div:last-child {
  margin-right: 0;
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.black {
  background-color: var(--black);
}

.r1 {
  transform: rotateZ(90deg);
}

.r2 {
  transform: rotateZ(180deg);
}

.r3 {
  transform: rotateZ(270deg);
}

.quarter {
  width: 3.125em;
  height: 3.125em;
  border-top-right-radius: 100%;
  z-index: 2;
}

.half {
  width: 3.125em;
  height: 6.25em;
  grid-row: span 2;
  border-radius: 0 3.125em 3.125em 0;
}

.smallCir {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  z-index: 1;
}

.bigCir {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  transform-origin: top left;
  transform: scale(2);
}

.longBox {
  width: 3.125em;
  height: 3.125em;
  position: relative;
  transform-origin: bottom;
  transform: scaleY(1.5);
}

.bauh {
  font-family: 'BAUHS93';
  display: block;
  font-size: 2em;
  margin-bottom: 0.8em;
}

button {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  cursor: pointer;
  font-size: min(min(16px, 2vh), 3.5vw);
}

.unBtn {
  width: 100%;
  position: relative;
  background-color: var(--blue);
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 3.8em;
  border-top-right-radius: 4em;
  z-index: 2;
  color: var(--black);
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 0.55em;
  transition: all ease 80ms;
}

.unBtn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--yellow);
  border-bottom-right-radius: 4em;
  z-index: -1;
  transition: all ease 80ms;
}

.unBtn2 {
  background-color: var(--red);
  color: white;
}

.unBtn2::after {
  background-color: var(--black);
}

.unBtn:hover {
  color: white;
}

.unBtn:hover:after {
  background-color: var(--blue);
}

.unBtn2:hover:after {
  background-color: var(--red);
}

.unBtn:active,
.unBtn2:active,
.unBtn:active:after,
.unBtn2:active:after {
  transform: scale(1);
  filter: saturate(90%);
}

input,
textarea {
  width: 100%;
  font-size: 1.2em;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-weight: 400;
  padding: 1em;
  padding-left: 1.5em;
  transition: all ease 200ms;
}

input::placeholder,
textarea::placeholder {
  color: rgba(104, 64, 21, 0.304);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px var(--bgd) inset !important;
  -webkit-text-fill-color: rgb(61, 61, 61) !important;
}

.inputCodeBox {
  text-align: center;
  padding: 1.125em 1.63em;
  letter-spacing: 0.5em;
  font-size: 1.38em;
}

.inputCodeBox::placeholder {
  color: rgba(104, 64, 21, 0.304);
  opacity: 0;
  transition: all ease 200ms;
  letter-spacing: 0;
}

.inputCodeBox:hover::placeholder {
  color: rgba(104, 64, 21, 0.304);
  opacity: 1;
}

.rightArrow {
  position: absolute;
  width: 2.25em;
  height: 2.25em;
  right: max(-10em, -10vw);
  border: none;
  background-color: transparent;
  visibility: visible;
  opacity: 1;
  transition: all ease 200ms;
}

.rightArrow:hover {
  cursor: pointer;
}

.rightArrow:after,
.rightArrow:before {
  content: "";
  position: absolute;
  width: 2.25em;
  height: 2.25em;
  border-top: 2px solid var(--black);
  border-right: 2px solid var(--black);
  left: -1.125em;
  top: -1px;
  transform: rotateZ(45deg);
}

.rightArrow:after {
  left: 1em;
}

.inputCodeBox:placeholder-shown~.rightArrow,
.inputCodeBox:placeholder-shown~.line {
  visibility: hidden;
  opacity: 0;
}

.rightArrowQuiz {
  bottom: -1.27em;
  opacity: 0;
  visibility: hidden;
}

.somethingSelected {
  opacity: 1;
  visibility: visible;
}

.line {
  position: absolute;
  width: 50vw;
  top: calc(2em-1px);
  right: -50vw;
  border-bottom: 1px solid var(--black);
  border-top: 1px solid var(--black);
  visibility: visible;
  opacity: 1;
  transition: all ease 200ms;
  animation: line-appear 200ms ease forward;
}

@keyframes line-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.question {
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
  margin-top: 2.5em;
  text-overflow: clip;
}

.optionBox {
  position: relative;
  width: 23em;
  left: calc(50% - 11.25em);
  bottom: 10em;
  height: fit-content;
}

.optionBoxFixed {
  position: absolute;
  width: 23em;
  left: calc(50% - 11.25em);
  bottom: 10em;
  height: fit-content;
}

.qOption {
  width: 100%;
  font-size: 1.2em;
  height: 4.0em;
  background: none;
  border: none;
  position: relative;
  font-weight: 500;
  transition: all ease 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qOption:hover {
  background-color: #D7C6B1;
}

div:nth-last-child(2n)>.qOption:after {
  content: "";
  position: absolute;
  border-top: 2px solid black;
  width: 100vw;
  top: 0;
  right: 0;
}

div:nth-last-child(2n+1)>.qOption:after {
  content: "";
  position: absolute;
  border-top: 2px solid black;
  top: 0;
  width: 100vw;
  left: 0;
}

.selectedOpt {
  background-color: var(--blue);
  color: white;
}

.selectedOpt:hover {
  background-color: var(--blue);
}

.stateBar {
  width: 15em;
  height: 3px;
  margin: auto;
  background-color: rgba(104, 64, 21, 0.304);
  position: relative;
}

.solvedBar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--blue);
  transition: all ease 200ms;
}


/* personal page  & makeQuiz*/

.blackBtn {
  background-color: var(--black);
  box-shadow: none;
  border-radius: 0;
  border: none;
  height: 4em;
  z-index: 2;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  width: 90%;
  margin-top: 2.8em;
  transition: all ease 100ms;
}

.blackBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.blackBtn:active {
  background-color: white;
  color: black;
}

.scroll_body {
  padding: 0;
  margin-top: 25em;
  margin-bottom: 10em;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  font-size: min(min(16px, 2vh), 3.5vw);
}

body::-webkit-scrollbar {
  display: none;
}


.themeYellow .quizIdx {
  color: var(--yellow);
}

.themeYellow .solvedBar,
.themeYellow .selectedOpt {
  background-color: var(--yellow);
}

.themeYellow .selectedOpt input {
  color: var(--black);
}

.themeYellow .selectedOpt input::placeholder {
  background-color: var(--yellow);
  color: rgba(0, 0, 0, 0.5);
}

.themeRed .quizIdx {
  color: var(--red);
}

.themeRed .solvedBar,
.themeRed .selectedOpt {
  background-color: var(--red);
}

.themeRed .selectedOpt input {
  color: white;
}

.themeRed .selectedOpt input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.themeBlue .quizIdx {
  color: var(--blue);
}

.themeBlue .solvedBar,
.themeBlue .selectedOpt {
  background-color: var(--blue);
}

.themeBlue .selectedOpt input {
  color: white;
}

.themeBlue .selectedOpt input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.themeBlack .quizIdx {
  color: var(--black);
}

.themeBlack .solvedBar,
.themeBlack .selectedOpt {
  background-color: var(--black);
}

.themeBlack .selectedOpt input {
  color: white;
}

.themeBlack .selectedOpt input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.themeRed .selectedOpt .plus,
.themeBlue .selectedOpt .plus,
.themeBlack .selectedOpt .plus {
  filter: invert();
}


.optionInput {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  font-size: 1em;
  text-align: center;
  transition: all ease 200ms;
}

.optionInput::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.addQuestionBtn {
  position: relative;
  bottom: 7vh;
  color: rgba(104, 64, 21, 0.704);
  width: 13em;
  font-size: 1em;
  left: calc(50% - 6.25em);
  background: none;
  border: none;
  padding: 1em;
  transition: all ease 200ms;
}

.addQuestionBtn:hover {
  background-color: rgba(104, 64, 21, 0.2);

}

.plus {
  position: relative;
  background: none;
  border: none;
  font-size: 1em;
  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0;
  border-radius: 1em;
  transition: all ease 200ms;
}

.plus:hover {
  width: 2em;
  height: 2em;
  background-color: rgba(104, 64, 21, 0.2);
}

.plus::before {
  content: "";
  position: absolute;
  top: calc(1em - 1px);
  left: 0;
  width: 2em;
  height: 0;
  border-top: 2px solid var(--black);
}

.plus::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(1rem - 1px);
  height: 2em;
  width: 0;
  border-left: 2px solid var(--black);
}

.optionAdd {
  left: calc(50% - 1em);
  margin-bottom: 1.25em;
}

.optionDelete {
  transform: rotateZ(45deg);
  position: relative;
  z-index: 2;
  right: 1em;
  display: block;
  position: relative;
  font-size: min(min(16px, 2vh), 3.5vw);
  width: 2rem;
  height: 2rem;
}

.optionDelete:hover {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background-color: transparent;
}

.quizIdx {
  font-size: 2em;
  margin: 0;
  font-weight: 400;
}

.quizQuestion {
  font-size: 1.6em;
  width: 400px;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 5em;
  border: none;
  text-align: center;
  height: 3.5em;
  font-weight: 700;
}

.undoBtn {
  /* transform: rotateZ(45deg); */
  z-index: 2;
  position: relative;
  width: 2em;
  height: 2em;
  display: block;
  font-size: min(min(16px, 2vh), 3.5vw);
  box-sizing: content-box;
  position: absolute;
  background: none;
  left: 4em;
  top: 3em;
  border: none;
}

.undoBtn:after {
  width: 2em;
  height: 2em;
  content: "";
  position: absolute;
  border: 2px solid var(--black);
  border-right: none;
  /* border-top: none; */
  left: 0;
  top: 0;
}

.checkBtn {
  box-sizing: content-box;
  width: 1.5em;
  height: 1.5em;
  position: fixed;
  background: none;
  position: absolute;
  right: 4em;
  top: 3em;
  border: none;
}

.checkBtn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  border: 2px solid var(--black);
  border-right: none;
  border-top: none;
  left: 0;
  top: 0;
  transform: rotateZ(-45deg);
}

/* Nav */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
}

.menuBtn {
  box-sizing: content-box;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  border: 2px solid var(--black);
  background: none;
  position: absolute;
  left: 4em;
  top: 4em;
  border-left: none;
  border-right: none;
}

.menuBtn::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid var(--black);
  border-right: none;
  border-left: none;
  left: 0;
  top: 0.75em;
}

.menuList {
  position: absolute;
  left: 4em;
  top: 4em;
  z-index: 4;
  opacity: 1;
  visibility: visible;
  background-color: var(--black);
  padding: 1em;
  z-index: 2;
}

.menuList:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 1.25em solid transparent;
  border-bottom: 1.25em solid transparent;
  border-right: 1.25em solid var(--black);
  left: -1.25em;
  top: calc(50% - 1.25em);
}

.menuItem,
.menuItem p {
  background-color: var(--black);
  color: white;
  min-width: 8em;
  height: 2.5em;
  font-family: Pretendard;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.menuItem:hover {
  filter: brightness(2);
}

.invisible {
  opacity: 0;
  visibility: 0;
  z-index: -1;
}

/* share link */
.codeShare {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-weight: 500;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: var(--red);
  text-align: center;
  position: relative;
  bottom: 1em;
  margin: 0;
  padding: 0;
  left: -0.15em;
}

.verticalSpace {
  height: 15em;
  border-top: 2px solid black;
  top: 0;
  width: 100vw;
  left: 0;
}

/* error popup */
.errorPopup {}

@keyframes pop-and-disappear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* personal page */
.bauhausBlock {
  width: 100%;
  height: 100%;
  position: relative;
}

.bauhaus {
  width: 100%;
  height: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}

.msgGrid {
  display: grid;
  grid-template-columns: repeat(4, 7em);
  grid-template-rows: repeat(3, 7em)
}

.bauQuarter {
  background-color: var(--brown);
  width: 100%;
  height: 100%;
  border-top-right-radius: 100%;
  z-index: 2;
}

.bauHalf {
  background-color: var(--brown);
  width: 100%;
  height: 100%;
  border-top-right-radius: 3.5em;
  border-bottom-right-radius: 3.5em;
  z-index: 2;
}

.circle {
  background-color: var(--brown);
  width: 85%;
  height: 85%;
  margin: 7.5%;
  border-radius: 50%;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 3.5em solid transparent;
  border-right: 3.5em solid transparent;
  border-bottom: 3.5em solid var(--brown);
  border-left: 3.5em solid var(--brown);
  background: none;
}

.hourglass {
  width: 0;
  height: 0;
  border-top: 3.5em solid transparent;
  border-bottom: 3.5em solid transparent;
  border-right: 3.5em solid var(--brown);
  border-left: 3.5em solid var(--brown);
  background: none;
}

.red.triangle {
  border-bottom-color: var(--red);
  border-left-color: var(--red);
}

.red.hourglass {
  border-right-color: var(--red);
  border-left-color: var(--red);
}

.red.circle,
.red.bau-half,
.red.bau-quarter {
  background-color: var(--red);
}

.blue.triangle {
  border-bottom-color: var(--blue);
  border-left-color: var(--blue);
}

.blue.hourglass {
  border-right-color: var(--blue);
  border-left-color: var(--blue);
}

.blue.circle,
.blue.bau-half,
.blue.bau-quarter {
  background-color: var(--blue);
}

.black.triangle {
  border-bottom-color: var(--black);
  border-left-color: var(--black);
}

.black.hourglass {
  border-right-color: var(--black);
  border-left-color: var(--black);
}

.black.circle,
.black.bau-half,
.black.bau-quarter {
  background-color: var(--black);
}

.yellow.triangle {
  border-bottom-color: var(--yellow);
  border-left-color: var(--yellow);
}

.yellow.hourglass {
  border-right-color: var(--yellow);
  border-left-color: var(--yellow);
}

.yellow.circle,
.yellow.bau-half,
.yellow.bau-quarter {
  background-color: var(--yellow);
}

.msgBlock {
  position: absolute;
  background-color: var(--black);
  width: 9em;
  height: fit-content;
  bottom: 8em;
  left: -1em;
  padding: 0.8em;
  color: white;
  z-index: 5;
}

.msgBlock:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -1em;
  left: 3.5em;
  border-top: 1em solid var(--black);
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}

.msgBlock div:first-child {
  display: flex;
  justify-content: space-between;
}

.msgInvisible .msgBlock {
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.msgInvisible:hover>.msgBlock {
  opacity: 1;
  visibility: visible;
}

.msgVisible>.msgBlock {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}


.msgInvisible:hover>.hide {
  opacity: 0;
  visibility: hidden;
}

.msgNick {
  font-size: 0.8em;
  font-weight: 600;
}

.msgScore {
  font-size: 0.8em;
  font-weight: 600;
}

.msgMsg {
  font-size: 0.8em;
  line-height: 1.2em;
  color: var(--bgd);
}

.transparent {
  opacity: 0.2;
}

.colorPalette {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16em;
  top: calc(50% - 8em);
  right: max(3em, 10vw);
}

.colorPick {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  transition: all ease 200ms;
}

.colorPick:hover {
  transform: scale(1.5);
}

.someColorPicked>.colorPick {
  transform: scale(0.8);
}

.someColorPicked>.colorPick:hover {
  transform: scale(0.8);
}

#picked {
  transform: scale(2);
}

#picked:hover {
  transform: scale(2);
}

.msgInput {
  color: var(--bgd);
  font-size: 0.8em;
  line-height: 1.2em;
  width: 100%;
  padding: 0;
  caret-color: var(--bgd);
}

textarea {
  resize: none;
  height: 5em;
}

textarea::-webkit-scrollbar {
  display: none;
}

.msgSave {
  width: 100%;
  background-color: black;
  border: none;
  color: var(--bgd);
  border-top: 1px solid var(--bgd);
  padding-top: 0.4em;
  margin-top: 0.4em;
}

.msgUsername {
  font-family: 'BAUHS93';
  text-transform: uppercase;
  font-size: 2.5em;
  position: absolute;
  top: 1.25em;
  right: 1.25em;
}

.msgVisible~.backPanel {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
}

.bigInput {
  position: absolute;
  width: 15em;
  height: 12em;
  left: calc(50vw - 7.5em);
  top: calc(50vh - 6em);
}

.bigInput::after {
  left: 6.5em;
}

.bigInput .msgInput {
  height: 8.5em;
}

.hidden .msgBlock {
  visibility: hidden;
  opacity: 0;
}

.hide {
  opacity: 0;
  visibility: hidden;
}